
/************* 
- reset css -
*************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed black; */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover; 
}

/************* 
- font -
*************/

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=PT+Sans&display=swap');

html {
    font-family: 'Manrope', sans-serif;
}

/************* 
- properties - 
*************/

#Web-App{
    height: 100vh;
}

#big-flex-container {
    width: 100%;
    background-color: #141922;
    /* display: flex; */
    /* justify-content: space-between; */
}

/********** - aside_section - ************/

#big-flex-container #aside-section {
    min-width: 10em;
    height: calc(100vh - 5em);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-block: 5px;
    /* padding-inline: 20px; */
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    background-color: #000000;
}

#big-flex-container #aside-section #top-aside {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: calc(100% - 4em);
    overflow: hidden;  
    min-height: 17em;
}

#big-flex-container #aside-section #top-aside #logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

#big-flex-container #aside-section #top-aside #logo div:first-child svg{
    height: 80%;
}

#big-flex-container #aside-section #top-aside #logo div:first-child {
    width: 100%;
    height: 3em;
}

#big-flex-container #aside-section #top-aside #functions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#big-flex-container #aside-section #top-aside #functions .function {
    width: 100%;
    height: 1em;
    display: flex;
    gap: 5px;
    align-items: center;
}

/* #big-flex-container #aside-section #top-aside #functions .function div:first-child {
    width: 25%;
} */

#big-flex-container #aside-section #top-aside #functions .function div:last-child {
    width: calc(75% - 5px);
    font-size: 0.6em;
}

#big-flex-container #aside-section #top-aside #playlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    gap: 5px;
}

#big-flex-container #aside-section #top-aside #playlist h4 {
    height: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#big-flex-container #aside-section #top-aside #playlist #new-playlist {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

#big-flex-container #aside-section #top-aside #playlist #new-playlist div:first-child {
    width: 20%;
}

#big-flex-container #aside-section #top-aside #playlist #new-playlist div:last-child {
    width: calc(80% - 5px);
    font-size: 0.7em;
}

#big-flex-container #aside-section #top-aside #playlist #playlists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

#big-flex-container #aside-section #top-aside #playlist #playlists div {
    height: 10px;
    font-size: 0.5em;
}

#big-flex-container #aside-section #bottom-aside {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 4em;  
    margin-bottom: 0.5em;
}

#big-flex-container #aside-section #bottom-aside #download-app,
#big-flex-container #aside-section #bottom-aside #my-account {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

#big-flex-container #aside-section #bottom-aside #download-app div:first-child {
    align-self: center;
    width: 1.5em;
}

#big-flex-container #aside-section #bottom-aside #download-app div:last-child {
    width: calc(80% - 5px);
    font-size: 0.6em;
    align-self: center;
}

#big-flex-container #aside-section #bottom-aside hr{
    border: 0.5px solid white;
    opacity: 0.5;
}

#big-flex-container #aside-section #bottom-aside #my-account div:first-child {
    width: 35%;
}

#big-flex-container #aside-section #bottom-aside #my-account div:last-child {
    width: calc(65% - 5px);
}


#big-flex-container #aside-section #bottom-aside #download-app div:first-child,
#big-flex-container #aside-section #bottom-aside #download-app div:last-child {
    height: 1em;
}

#big-flex-container #aside-section #bottom-aside #my-account div:first-child {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    background-color: gray;
}

#big-flex-container #aside-section #bottom-aside #my-account div:last-child {
    font-size: 0.8em;
    font-weight: bold;
}


/* utility */

.less-opacity{
    opacity: 0.5;
}

.less-opacity:hover{
    opacity: 1;
}

#hide-show{
    display: none;
}

.transition{
    transition: 0.5s; 
}

.transition:hover{
    transform: scale(150%); 
}

#transition-02:hover{
    transform: scale(120%);
}

#border-bottom{
    position: relative;
    text-align: center;
}

#border-bottom::after {
    content:'';
    position:absolute;
    width: 2em;
    height:1px;
    background-color: greenyellow;
    bottom:-0.3em;
    left:0;
    right:0;
    margin: auto;
}

.margin-left{
    margin-inline: 20px;
}

#border-left{
    border-left: 1px solid greenyellow;  
    padding-left: 19px; 
}


/********** - major_section - ************/

#big-flex-container #major-section {
    width: calc(100% - 10em);
    justify-self: flex-end;
    height: 100%; 
    background-color: #141922;
    margin-left: 10em;
}

#major-section #upgrade{
    height: 5em;
    position: fixed;
    left: 10em;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 30;
}

#major-section #upgrade a{
    font-size: 13px;
    margin-right: 2em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    padding-block: 1em ;
    padding-inline: 4em;
}

#major-section #main-section{
    padding-block: 6em;
    padding-inline: 1em;
    overflow: auto;
}

#major-section #main-section ul{
    font-size: 12px;
    justify-content: center;
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    gap: 1em;
}

#major-section #main-section ul a{
    color: white;
    text-transform: uppercase;
    opacity: 0.75;
}
#major-section #main-section ul a:hover{
    opacity: 1;
}

#major-section #main-section #spotify-tracks {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding-block: 3em;
    color: white;
}

#major-section #main-section #spotify-tracks .tracks-container{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#major-section #main-section #spotify-tracks .tracks-container .tracks{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

#major-section #main-section #spotify-tracks .tracks-container .tracks .track{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    width: calc(100% / 6 - 1em);
}
#major-section #main-section #spotify-tracks .tracks-container .tracks .track span{
    opacity: 0.5;
    text-transform: capitalize;
    font-size: 0.8rem;
}
#major-section #main-section #spotify-tracks .tracks-container .tracks .track h4{
    text-transform: capitalize;
}

#major-section #main-section #spotify-tracks .tracks-container p{
    opacity: 0.5;
    font-size: 0.8rem;
}

#major-section #main-section #spotify-tracks .tracks-container .tracks .track .circle-box img{
    aspect-ratio: 1;
    border-radius: 50%;
}

#major-section #main-section #spotify-tracks .tracks-container .tracks .track figure{
    position: relative;
    transition: 0.2s;
}

#major-section #main-section #spotify-tracks .tracks-container .tracks .track figure span{
    opacity: 0;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#major-section #main-section #spotify-tracks .tracks-container .tracks .track figure span svg{
    position: absolute;
    top: 50%;
    left: 50%;
    fill: white;
    transform: translate(-50%,-50%);
}




#major-section #main-section #spotify-tracks .tracks-container .tracks .track figure span:hover{
    opacity: 1;
}












/********** - bottom_section - ************/

#bottom-section {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 5em;
    padding-inline: 5px;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #282828;
    align-items: center;
}

#bottom-section .bottom-aside {
    display: flex;
    gap: 10px;
    min-width: 11em;
    padding: 5px;
    align-items: center;
    color: white;
}

#bottom-section .bottom-aside #image {
    display: flex;
    gap: 5px;
    align-items: center;
}

#bottom-section .bottom-aside #image div:first-child{
    width: 3em;
    aspect-ratio: 1;
}

#bottom-section .bottom-aside #image div:first-child img{
    height: 100%;
}

#bottom-section .bottom-aside #image div:last-child h6{
    font-size: 0.6em;
}

#bottom-section .bottom-aside #image div:last-child div{
    font-size: 0.4em;
    opacity: 0.5;
}

#bottom-section .bottom-aside #image div:last-child div:hover{
    text-decoration: underline;
    opacity: 1;
}




#bottom-section #bottom-center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    padding-inline: 5px;
}

#bottom-section #bottom-center #music-options{
    display: flex;
    gap: 20px;
    height: 1em;
    justify-content: center;
}

#bottom-section #bottom-center #music-options div{
    width: 1em;
}

#bottom-section #bottom-center #music-track{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#bottom-section #bottom-center #music-track div:nth-of-type(odd){ 
    font-size: 0.5em;
    color: #fff;
}

#bottom-section #bottom-center #music-track div:nth-of-type(even){ 
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    border: 0;
}

#bottom-section #bottom-center #music-track div:nth-of-type(even) span:first-child{ 
    width: 25%;
    background-color: lightgrey;
    /* border-radius: 2px; */
}

#bottom-section #bottom-center #music-track div:nth-of-type(even):hover span:first-child{ 
    background-color: greenyellow;
}

#bottom-section #bottom-center #music-track div:nth-of-type(even) span:last-child{ 
    margin-top: -7px;
    margin-left: -10px;
    fill: greenyellow;
    opacity: 0;
}

#bottom-section #bottom-center #music-track div:nth-of-type(even):hover span:last-child{ 
    opacity: 1;
}

/* 
#bottom-section #bottom-right div:last-child{
    height: 5px;
    width: 9em;
    align-self: center;
} */


#bottom-section #bottom-right div:last-child{ 
    height: 5px;
    min-width: 5em;
    border-radius: 2px;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    border: 0;
}

#bottom-section #bottom-right div:last-child span:first-child{ 
    width: 25%;
    background-color: lightgrey;
    /* border-radius: 2px; */
}

#bottom-section #bottom-right div:last-child:hover span:first-child{ 
    background-color: greenyellow;
}

#bottom-section #bottom-right div:last-child span:last-child{ 
    margin-top: -7px;
    margin-left: -10px;
    fill: greenyellow;
    opacity: 0;
}

#bottom-section #bottom-right div:last-child:hover span:last-child{  
    opacity: 1;
}



/*********************************
--------- responsive_area ------------ 
**********************************/


/* ----- ipad ----- */

@media screen and (max-width: 878px){
    #major-section #main-section #spotify-tracks .tracks-container .tracks .track{
        width: calc(100% / 3 - 1em);
    }

}


/* ----- iphone ----- */

@media screen and (max-width: 639px){
    #major-section #main-section #spotify-tracks .tracks-container .tracks .track{
        width: calc(100% / 2 - 1em);
    }

    #bottom-section #bottom-right{
        display: none;
    }
}


/* ----- mini_phone ----- */


@media screen and (max-width: 552px){
    #big-flex-container #aside-section{
        min-width: 5em;
    }

    #big-flex-container #aside-section #top-aside #logo div:first-child,
    #big-flex-container #aside-section #top-aside #functions .function div:first-child{
        width: 100%;
    }

    /* #big-flex-container #aside-section #top-aside #logo div:last-child, */
    #big-flex-container #aside-section #top-aside #functions .function div:last-child,
    #big-flex-container #aside-section #top-aside #playlist{
        display: none;
    }

    #big-flex-container #aside-section #bottom-aside #download-app div:first-child,
    #big-flex-container #aside-section #bottom-aside #my-account div:first-child{
        width: 100%;
    }

    #big-flex-container #aside-section #bottom-aside #download-app div:last-child,
    #big-flex-container #aside-section #bottom-aside #my-account div:last-child,
    #big-flex-container #aside-section #bottom-aside hr{
        display: none;
    }

    #big-flex-container #major-section {
        margin-left: 5em;
    }

    #big-flex-container #major-section {
        width: calc(100% - 5em);
    }

    #major-section #upgrade{
        left: 5em;
    }

    #hide{
        display: none;
    }

    #hide-show{
        display: block;
        height: 3em;
    }

    #big-flex-container #aside-section #bottom-aside {
        gap: 1em; 
        align-items: center;   
    }

    #big-flex-container #aside-section #bottom-aside #download-app div:first-child {
        width: 1.5em;
    }
    
    #big-flex-container #aside-section #top-aside #logo div:last-child svg{
        height: 80%;
    }

}
