/************* 
- reset css -
*************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/************* 
- import font -
*************/

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=PT+Sans&display=swap');

html{
    font-family: 'Manrope', sans-serif;
}

/************* 
- properties - 
*************/

#big-flex-container{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}

/********** - aside_section - ************/

#big-flex-container #aside-section{
    min-width: 10em;
    height: calc(100vh - 5em); 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding-block: 5px;
    padding-inline: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

#big-flex-container #aside-section #top-aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#big-flex-container #aside-section #top-aside #logo{
    display: flex;
    justify-content: space-between;
}

#big-flex-container #aside-section #top-aside #logo div:first-child{
    width: 35%;
    height: 3em;
}

#big-flex-container #aside-section #top-aside #logo div:last-child{
    height: 3em;
    width: calc(65% - 5px);
}

#big-flex-container #aside-section #top-aside #functions{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#big-flex-container #aside-section #top-aside #functions #function{
    width: 100%;
    height: 1em;
    display: flex;
    gap: 5px;
}

#big-flex-container #aside-section #top-aside #functions #function div:first-child{
    width: 35%;
}

#big-flex-container #aside-section #top-aside #functions #function div:last-child{
    width: calc(65% - 5px);
}

#big-flex-container #aside-section #top-aside #playlist{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#big-flex-container #aside-section #top-aside #playlist h4{
    height: 20px;
}

#big-flex-container #aside-section #top-aside #playlist #new-playlist{
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
}

#big-flex-container #aside-section #top-aside #playlist #new-playlist div:first-child{
    width: 35%;
}

#big-flex-container #aside-section #top-aside #playlist #new-playlist div:last-child{
    width: calc(65% - 5px);
}

#big-flex-container #aside-section #top-aside #playlist #playlists{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#big-flex-container #aside-section #top-aside #playlist #playlists div{
    height: 10px;
}

#big-flex-container #aside-section #bottom-aside {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#big-flex-container #aside-section #bottom-aside #download-app,
#big-flex-container #aside-section #bottom-aside #my-account{
    display: flex;
    justify-content: space-between;
}

#big-flex-container #aside-section #bottom-aside #download-app div:first-child,
#big-flex-container #aside-section #bottom-aside #my-account div:first-child{
    width: 35%;
}

#big-flex-container #aside-section #bottom-aside #download-app div:last-child,
#big-flex-container #aside-section #bottom-aside #my-account div:last-child{
    width: calc(65% - 5px);
}

#big-flex-container #aside-section #bottom-aside #download-app div:first-child{
    width: 20%;
}

#big-flex-container #aside-section #bottom-aside #download-app div:last-child{
    width: calc(80% - 5px); 
}

#big-flex-container #aside-section #bottom-aside #my-account div:first-child{
    width: 35%;
}

#big-flex-container #aside-section #bottom-aside #my-account div:last-child{
    width: calc(65% - 5px);
}


#big-flex-container #aside-section #bottom-aside #download-app div:first-child,
#big-flex-container #aside-section #bottom-aside #download-app div:last-child{
    height: 1em;
}

#big-flex-container #aside-section #bottom-aside #my-account div:first-child,
#big-flex-container #aside-section #bottom-aside #my-account div:last-child{
    height: 2em;
}











    









/********** - major_section - ************/

#big-flex-container #major-section{
    /* width: calc(100%); */
    justify-self: flex-end;
    /* height: 100%;  */
    overflow: auto;
    margin-left: 10em;
}


/********** - bottom_section - ************/

#bottom-section{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 5em;
}